[user]
	name = {{ user_fullname }}
	email = {{ user_email }}
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[push]
  default = simple
[gpg]
	program = gpg
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
    unstage = reset HEAD --
	cached = diff --cached
	dc = diff --cached
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
# Clone git repos with URLs like "gh:alexpearce/dotfiles"
[url "https://github.com/"]
  insteadOf = "gh:"
[url "git@github.com:"]
  pushInsteadOf = "gh:"

{{ gitconfig_extra | default("") }}